.achievements {
  position: relative;

  padding: 113px 20px 42px;

  border: none;
}

.achievements__title {
  position: absolute;
  top: 38px;
  left: 50px;
  right: 50px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $brand-color;
}

.achievements__list {
  width: 100%;
  max-width: 360px;
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.achievements__item {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }
}

.achievements__label {
  position: relative;

  display: block;
  min-height: 39px;
  padding-left: 70px;
  padding-bottom: 4.5px;
  padding-top: 4.5px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $minor-color;

  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 39px;
    height: 39px;

    background-color: #ffffff;
    border: 2px solid #e5e5e5;

    transition:
      border-color 0.3s,
      box-shadow 0.6s ease-out;
  }
}

.achievements__checkbox {
  appearance: none;
}

.achievements__checkbox:checked + .achievements__label::before {
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21.7px 16px;
}

.achievements__checkbox:disabled + .achievements__label {
  color: rgba($color: $minor-color, $alpha: 0.3);

  cursor: not-allowed;

  &::before {
    background-color: transparent;
  }
}

.achievements__checkbox:focus + .achievements__label,
.achievements__checkbox:active:not(:disabled) + .achievements__label {
  &::before {
    border-color: $brand-color;
    box-shadow:
      inset 0 0 3px 0 $brand-color,
      0 0 5px 0 $minor-color;
  }
}

.achievements__checkbox:not(:disabled):not(:active):not(:focus) + .achievements__label:hover::before {
  border-color: $minor-color;
}

@media (min-width: $tablet-width) {
  .achievements {
    padding: 52px 58px 48px;

    border: 2px solid #e5e5e5;
  }

  .achievements__title {
    top: -16px;
    left: calc(50% - 218.5px);
    right: calc(50% - 218.5px);
    z-index: 2;

    line-height: 30px;

    background-color: #ffffff;
  }

  .achievements__list {
    max-width: 100%;
  }

  .achievements__label {
    padding-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  @supports (display: grid) {
    .achievements {
      padding-bottom: 55px;
    }

    .achievements__list {
      display: grid;
      grid-template-columns: minmax(260px, 1fr) minmax(245px, 1fr) minmax(210px, 1fr);
      grid-template-rows: minmax(39px, 1fr) minmax(39px, 1fr);
      grid-column-gap: 53px;
      grid-row-gap: 43px;
    }

    .achievements__item {
      margin-bottom: 0;
      /*в угоду макету чекбоксам изменен порядок, ибо если сделать grid-auto-flow: column, то при добавлении новых чекбоксов они вылезут за границу родительсткого блока, вместо того, чтоб создать новую строку*/
      &:nth-child(-2n + 5) {
        order: -2;
      }

      &:nth-child(-2n + 6) {
        order: -1;
      }
    }
  }

  @supports not (display: grid) {
    .achievements {
      padding-left: 18px;
      padding-bottom: 35px;
    }

    .achievements__list {
      display: flex;
      flex: 1 1;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: space-between;
      max-height: 180px;
      padding-bottom: 20px;
      overflow-x: auto;
    }

    .achievements__item {
      margin-left: 40px;

      &:nth-child(2n) {
        margin-bottom: 0;
      }
    }
  }
}
