.button {
  display: block;
  min-height: 55px;

  font-family: inherit;
  font-size: 21px;

  background-color: transparent;
  cursor: pointer;

  border: 3px solid black;
  border-radius: 27.5px;
}
