.button {
  display: block;
  padding: 12.5px 10px;
  overflow-wrap: break-word;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-align: center;

  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 27.5px;
  cursor: pointer;

  transition:
    color 0.2s ease-in,
    background-color 0.2s ease-out,
    opacity 0.2s linear;

  &--submit {
    color: darken($brand-color, 1);

    border-color: $brand-color;
    outline: none;

    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: #ffffff;
      background-color: $brand-color;
    }

    &:active:not(:disabled) {
      color: rgba($color: #ffffff, $alpha: 0.3);
      transition-duration: 0s;
    }
  }

  &--reset {
    color: $minor-color;

    border-color: $minor-color;
    outline: none;

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: #ffffff;
      background-color: $minor-color;
    }

    &:active:not(:disabled) {
      color: rgba($color: #ffffff, $alpha: 0.3);
      background-color: $minor-color;
      transition-duration: 0s;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    font-size: 21px;
  }
}
