.contest {
  margin-top: -66px;
  margin-bottom: 55px;
}

.contest__intro {
  padding-top: 97px;
  padding-bottom: 55px;
  margin-bottom: 45px;

  background-image: url("../img/bg-download-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center top 19px;
  background-size: 659px auto;
  background-color: #1d2631;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-download-mobile-2x.jpg");
  }
}

.contest__heading {
  width: 270px;
  margin: 0 auto;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.contest__about {
  margin: 0 auto;
  margin-bottom: 33px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $minor-color;
}

.contest__about-request {
  display: none;
}

.contest__form {
  display: flex;
  flex-direction: column;
}

@supports (display: grid) {
  .contest__form {
    display: grid;
  }
}

.contest__full-name {
  grid-area: full-name;
  margin: 0;
  margin-bottom: 40px;
}

.contest__contacts {
  grid-area: contacts;
  margin: 0;
  margin-bottom: 42px;
}

.contest__os {
  grid-area: os;
  margin: 0;
  margin-bottom: 31px;
}

.contest__achievements {
  grid-area: achievements;
  margin: 0;
  margin-bottom: 32px;
}


.contest__emotions {
  grid-area: emotions;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 48px;
}

.contest__submit {
  grid-area: submit;
  width: 100%;
  padding: 0 20px;
}

.contest__submit-button {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.contest__required-text {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $minor-color;

  &::before {
    content: "* ";
    color: $brand-color;
  }
}

.contest__required-extension {
  display: none;
}

.contest__pop-up {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100vw;
  height: 100vh;

  background-color: rgba($color: $brand-color, $alpha: 0.1);

  &--on {
    display: block;
  }
}

.contest__pop-up-wraper {
  position: fixed;
  top: 30vh;
  left: calc(50vw - 160px);
  z-index: 11;

  width: 320px;
}

@media (max-width: $mobile-only) {
  @supports (display: grid) {
    .contest__form {
      grid-template-columns: minmax(280px, 1fr);
      grid-template-areas:
        "full-name"
        "achievements"
        "contacts"
        "os"
        "emotions"
        "submit";
    }
  }

  .contest__os,
  .contest__achievements {
    background-color: #f2f2f2;
  }

  @supports not (display: grid) {
    .contest__os {
      order: 2;
    }

    .contest__contacts {
      order: 1;
    }

    .contest__emotions {
      order: 3;
    }

    .contest__submit {
      order: 4;
    }
  }
}

@media (min-width: $tablet-width) {
  .contest {
    margin-top: -110px;
    margin-bottom: 85px;
  }

  .contest__intro {
    padding-top: 177px;
    padding-bottom: 80px;
    margin-bottom: 92px;

    background-image: url("../img/bg-download-tablet-1x.jpg");
    background-size: 1200px auto;
    background-position: center top -3px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-download-tablet-2x.jpg");
    }
  }

  .contest__heading {
    width: 80%;

    font-size: 50px;
  }

  .contest__about {
    width: 90%;
    margin-bottom: 72px;

    font-size: 18px;
  }

  .contest__about-request {
    display: block;
  }

  .contest__form {
    max-width: 800px;
    margin: 0 auto;
  }

  @supports (display: grid) {
    .contest__form {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      grid-column-gap: 20px;
      grid-template-areas:
        "full-name full-name"
        "os os"
        "contacts contacts"
        "achievements achievements"
        "emotions emotions"
        "submit submit";
    }
  }

  .contest__full-name {
    margin-bottom: 66px;
  }

  .contest__os {
    margin: 0 20px 66px;
  }

  .contest__contacts,
  .contest__achievements {
    margin: 0 20px 65px;
  }

  .contest__emotions {
    width: auto;
    max-width: 100%;
    margin: 0 20px 67px;
  }

  .contest__submit {
    display: flex;
    justify-content: space-between;
  }

  .contest__submit-button {
    width: calc(50% - 10px);
    max-width: 100%;
    margin: 0;
  }

  .contest__required-text {
    width: calc(50% - 10px);
    padding: 16.5px 0;

    text-align: right;
  }

  .contest__pop-up-wraper {
    left: calc(50vw - 230px);

    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .contest {
    margin-bottom: 70px;
  }

  .contest__intro {
    padding-top: 171px;
    padding-bottom: 101px;
    margin-bottom: 92px;

    background-image: url("../img/bg-download-desktop-1x.jpg");
    background-size: 2560px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-download-desktop-2x.jpg");
    }
  }

  .contest__heading {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .contest__about {
    width: 800px;
    margin-bottom: 78px;
  }

  .contest__about-request {
    display: inline;
  }

  .contest__form {
    width: 960px;
    max-width: 100%;
    padding: 0 10px;
  }

  @supports not (display:grid) {
    .contest__form {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  @supports (display: grid) {
    .contest__form {
      grid-template-columns: repeat(2, 435px);
      grid-column-gap: 70px;
      grid-template-areas:
        "full-name os"
        "contacts contacts"
        "achievements achievements"
        "emotions emotions"
        "submit submit";
    }
  }

  .contest__full-name {
    width: 435px;
    margin-bottom: 65px;
  }

  .contest__os {
    width: 435px;
    margin: 0;
    margin-bottom: 65px;
  }

  .contest__contacts,
  .contest__achievements,
  .contest__emotions {
    width: 940px;
    margin: 0;
    margin-bottom: 65px;
  }

  .contest__submit {
    padding: 0;
  }

  .contest__submit-button {
    width: 300px;
  }

  .contest__required-extension {
    display: inline;
  }

  .contest__pop-up-wraper {
    &--success {
      left: calc(50vw - 390px);

      width: 780px;
    }
  }
}


