.crawlers {
  min-height: 70px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.crawlers__item {
  position: relative;

  display: none;
  min-height: 70px;
  padding: 35px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    right: -20px;

    height: 1px;
    overflow: hidden;

    background-color: rgba($color: $minor-color, $alpha: 0.1);
  }

  &--active {
    display: block;
  }
}

.crawlers__scale {
  position: relative;

  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: $minor-color;
}

.crawlers__toggle {
  position: absolute;
  top: -6px;
  left: 200px;

  width: 14px;
  height: 14px;

  background-color: #f2f2f2;
  border: 2px solid $brand-color;
  border-radius: 50%;
  outline: none;

  &:focus,
  &:hover {
    background-color: $brand-color;
  }
}

@media (min-width: $tablet-width) {
  .crawlers {
    width: 75%;
  }

  .crawlers__item {
    display: block;

    &::after {
      right: 0;
      left: -50px;
    }
  }

  .crawlers__scale {
    width: 203px;
    margin: 0;
  }

  .crawlers__crop {
    left: 147px;
  }

  .crawlers__fill {
    left: 25px;
  }

  .crawlers__contrast {
    left: 96px;
  }
}
