.main-navigation__toggle {
  position: absolute;
  top: 21px;
  right: 20px;

  display: block;
  height: 24px;
  padding: 0;

  fill: #ffffff;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  transition: fill 0.2s ease-in;

  &:hover,
  &:focus {
    fill: $brand-color;
  }

  &:active {
    fill: rgba($color: $brand-color, $alpha: 0.3);

    transition-duration: 0s;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation__menu-cross {
  display: none;
}

.main-navigation--open {
  .main-navigation__menu-cross {
    display: block;
  }

  .main-navigation__menu-burger {
    display: none;
  }
}

.main-navigation__list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation--open .main-navigation__list {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  animation: menu-open 0.8s ease-in-out forwards;
}

.main-navigation__item {
  display: block;
  padding: 16px 0 16px 0;

  text-align: center;

  box-shadow:
    inset 0 1px rgba(255, 255, 255, 0.15),
    0 -1px #000000;
}

.main-navigation__link {
  display: inline-block;

  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  outline: none;

  transition:
    color 0.2s ease-in,
    transform 0.2s ease-out;

  &--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      right: 0;
      left: 0;

      height: 2px;
      background-color: #ffffff;
    }
  }

  &:focus,
  &[href]:hover {
    color: $brand-color;

    transform: scale(1.1, 1.1);
  }

  &[href]:active {
    color: rgba($color: $brand-color, $alpha: 0.3);
    transition-duration: 0s;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__toggle {
    top: 45px;
    right: 19px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 790px;
    min-height: 110px;
    padding-left: 88px;
  }

  .main-navigation__item {
    margin-left: 80px;
    padding: 43px 0 43px 0;

    box-shadow: none;
  }

  .main-navigation__link {
    width: auto;

    font-weight: 400;
    text-transform: none;
    line-height: 24px;

    &--active::after {
      bottom: -6px;
    }

    &[href]:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@keyframes menu-open {
  0% {
    margin-top: -260px;
    opacity: 0.5;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}
