.os {
  position: relative;

  padding: 110px 20px 45px;

  border: none;
}

.os__title {
  position: absolute;
  top: 35px;
  left: 50px;
  right: 50px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $brand-color;
}

.os__list {
  width: 100%;
  max-width: 360px;
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.os__item {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.os__label {
  position: relative;

  display: block;
  min-height: 39px;
  padding-left: 70px;
  padding-bottom: 4.5px;
  padding-top: 4.5px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $minor-color;

  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 39px;
    height: 39px;

    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;

    transition:
      border-color 0.3s,
      box-shadow 0.6s ease-out;
  }
}

.os__radio {
  appearance: none;
}

.os__radio:checked + .os__label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $brand-color;
}

.os__radio:disabled + .os__label {
  color: rgba($color: $minor-color, $alpha: 0.3);

  cursor: not-allowed;

  &::before {
    background-color: transparent;
  }
}

.os__radio:focus + .os__label,
.os__radio:active:not(:disabled) + .os__label {
  &::before {
    border-color: $brand-color;
    box-shadow:
      inset 0 0 3px 0 $brand-color,
      0 0 5px 0 $minor-color;
  }
}

.os__radio:not(:disabled):not(:active):not(:focus) + .os__label:hover::before {
  border-color: $minor-color;
}

@media (min-width: $tablet-width) {
  .os {
    padding: 55px 60px;

    border: 2px solid #e5e5e5;
  }

  .os__title {
    top: -15px;
    left: calc(50% - 185px);
    right: calc(50% - 185px);
    z-index: 2;

    line-height: 30px;

    background-color: #ffffff;
  }

  .os__list {
    max-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .os {
    padding: 55px 74px;
  }
}
