.page-header {
  position: relative;

  background-color: rgba(0, 0, 0, 0.3);

  &--menu-open {
    background-color: $minor-color;
  }
}

.page-header__logo-link {
  display: block;
  width: 75px;
  padding: 21px 0 26px 20px;

  line-height: 0;

  fill: #ffffff;
  outline: none;

  transition: fill 0.2s ease-in;

  &:focus,
  &[href]:hover {
    fill: $brand-color;
  }

  &[href]:active {
    fill: rgba(255, 255, 255, 0.3);
    transition-duration: 0s;
  }
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

.page-header__menu-toggle {
  position: absolute;
}

@media (min-width: $tablet-width) {
  .page-header__logo-link {
    width: 170px;
    padding-top: 27px;
    padding-left: 20px;
    padding-bottom: 45px;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wraper {
    display: flex;
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .page-header__logo-link {
    width: 150px;
    padding-left: 0;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-tablet {
    display: none;
  }
}
