.page-header {
  position: relative;

  background-color: rgba(0, 0, 0, 0.3);

  &--menu-open {
    background-color: #283645;
  }
}

.page-header__wraper {
  padding-top: 21px;
  padding-bottom: 22px;

  &--menu-open {
    padding-bottom: 25px;
  }
}

.page-header__logo-link {
  display: block;
  width: 75px;

  fill: #ffffff;
  transition: fill 0.2s ease-in;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
    transition-duration: 0s;
  }
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

.page-header__menu-toggle {
  position: absolute;
}

@media (min-width: $tablet-width) {
  .page-header__wraper {
    padding: 27px 0 42px 0;
  }

  .page-header__logo-link {
    width: 147px;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo-tablet {
    display: none;
  }
}
