.price {
  padding-top: 225px;
  padding-bottom: 45px;

  background-image: linear-gradient(176deg, #ffffff 61px, #f2f2f2 62px);
  background-color: #f2f2f2;
}

.price__table {
  width: 100%;
  margin-bottom: 40px;

  line-height: 30px;
  text-transform: uppercase;
  border-collapse: collapse;

  background-color: #ffffff;
}

.price__empty-cell {
  padding: 0;

  background-color: #f2f2f2;
}

.price__colhead {
  padding: 17px 40px 18px 40px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-color: $minor-color;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

  &--hit {
    position: relative;

    overflow: hidden;

    &::before {
      content: "Хит";
      position: absolute;
      left: -27px;
      top: 9px;

      width: 104px;
      height: 33px;

      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;

      background-color: $brand-color;
      transform: rotate(-45deg);
    }
  }
}

.price__tarif {
  display: block;
}

.price__value {
  font-size: 24px;
  font-weight: 300;
}

.price__rowhead {
  vertical-align: middle;
  height: 61px;
  width: 82.142857%;
  padding: 5px 23px;

  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: $minor-color;

  border: 2px solid #e5e5e5;
}

.price__cell {
  position: relative;

  width: 17.8571%;
  padding: 0;

  border: 2px solid #e5e5e5;

  &--yes {
    background-image: url("../img/price-yes.svg");
    background-repeat: no-repeat;
    background-size: 30.37px auto;
    background-position: right 13px top 20px;
  }

  &--no::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 25px;

    height: 37px;
    width: 4px;

    background-color: #f25b26;
    border-radius: 2px;
    transform: rotate(45deg);
  }

  &--no::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 25px;

    height: 37px;
    width: 4px;

    background-color: #f25b26;
    border-radius: 2px;
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-only) {
  .price__table {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -20px;
      top: -96px;

      height: 283px;
      width: 18px;

      background-image: linear-gradient(to bottom, $minor-color 98px, #ffffff 99px, #ffffff 157px, #e5e5e5 158px, #e5e5e5 159px, #ffffff 160px, #ffffff 218px, #e5e5e5 219px, #e5e5e5 220px, #ffffff 221px, #ffffff 279px, #e5e5e5 280px, #e5e5e5 281px, #f2f2f2 282px);
    }

    &::after {
      content: "";
      position: absolute;
      right: -20px;
      top: -96px;

      height: 283px;
      width: 18px;

      background-image: linear-gradient(to bottom, $minor-color 98px, #ffffff 99px, #ffffff 157px, #e5e5e5 158px, #e5e5e5 159px, #ffffff 160px, #ffffff 218px, #e5e5e5 219px, #e5e5e5 220px, #ffffff 221px, #ffffff 279px, #e5e5e5 280px, #e5e5e5 281px, #f2f2f2 282px);
    }
  }

  .price__colhead {
    display: none;

    &--active {
      position: absolute;
      left: -1px;
      right: -1px;
      top: -96px;

      display: table-cell;
      height: 98px;
      overflow: auto;
    }
  }

  .price__rowhead {
    position: relative;

    border-right: none;
  }

  .price__cell {
    display: none;

    border-left: none;

    &--active {
      display: table-cell;
    }
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 102px;
    padding-bottom: 70px;

    background-image: linear-gradient(176deg, #ffffff 65px, #f2f2f2 66px);
  }

  .price__table {
    margin-bottom: 0;
  }

  .price__colhead {
    height: 80px;
    padding: 5px 20px;

    &--hit::before {
      left: -26px;
      top: 2px;

      width: 85px;
    }
  }

  .price__tarif {
    font-size: 16px;
  }

  .price__value {
    font-size: 18px;
  }

  .price__rowhead {
    width: 25%;
    height: 49px;
    padding-left: 15px;
    padding-right: 15px;

    text-transform: none;
  }

  .price__cell {
    width: 25%;

    &--yes {
      background-position: center center;
    }

    &--no::after,
    &--no::before {
      top: 5px;
      right: 50%;
    }
  }

  .price__bullets {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 260px;
    padding-bottom: 95px;
    margin-top: -100px;

    background-image: linear-gradient(176deg, #ffffff 195px, #f2f2f2 196px);
  }

  .price__colhead {
    height: 98px;

    &--hit::before {
      left: -27px;
      top: 9px;

      width: 104px;
    }
  }

  .price__tarif {
    font-size: 18px;
  }

  .price__value {
    font-size: 24px;
  }

  .price__rowhead {
    height: 61px;

    font-size: 18px;
  }
}
