.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71.43%;
  max-width: 300px;
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.tools__icon {
  fill: $minor-color;
}

.tools__button {
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 1;
    cursor: default;

    .tools__icon {
      fill: $brand-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .tools {
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    min-height: 215px;
    margin: 0;
    padding: 16px 23px;
  }

  .tools__item {
    transform: scale(0.5, 0.5);
  }

  .tools__icon {
    fill: $brand-color;
  }

  .tools__button {
    opacity: 1;
  }
}

@media (min-width: $desktop-width) {
  .tools {
    width: 47px;
    margin-right: 48px;
  }

  .tools__item {
    transform: none;
  }
}

