.upload__slogan {
  padding-top: 42px;
  padding-bottom: 62px;
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $minor-color;
}

.upload__form {
  background-color: #f2f2f2;
}

.upload__wraper-photo {
  padding-bottom: 42px;

  text-align: center;
}

.upload__tools {
  /*margin-bottom: 33px;*/
}
